
/*
svg {
    width: 30%; height: auto;
    margin: auto;
}
*/

/*
#teste {
    width: 100%;
    text-align: center;
}
*/

body {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

#svg1 {
    width: 710px;
    height: 687px;    
}

#svg2 {
    width: 710px;
    height: 687px;    
}

#svg-map path {
    fill: #888888;
    stroke: #ffffff;
    stroke-width: 1.0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#svg-map circle {
    visibility: hidden;
    stroke-width: 3;
    stroke: #ffffff;
    fill: #ffffff;
}

#svg-map text {
    visibility: hidden;
    fill: #ffffff;
    font: 16px Arial-BoldMT, sans-serif;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

#svg-map a:hover path {
    fill: #900000 !important
}

#svg-map a:hover circle {
    visibility: visible;
}

#svg-map a:hover text {
    visibility: visible;
}

#svg-table line {
    visibility: hidden;
    fill: #888888;
    stroke: #000000;
    stroke-width: 4.2;
}

#svg-queue rect {
    stroke: #000000;
    stroke-width: 2.0;
    fill-opacity: 1.0;
    fill: transparent;
    stroke-opacity: 0.9;
}

.text-bold {
    fill: #000000;
    stroke: #000000;
    stroke-width: 1.0;
    font: 24px Arial-BoldMT, sans-serif;
    visibility: visible;
}

.text-monospace {
    font: 20px 'Courier New', monospace;
}

#svg-states-edges line {
    visibility: hidden;
    fill: #888888;
    stroke: #000000;
    stroke-width: 4.0;
}

#svg-table,
#svg-labels rect {
    stroke: #000000;
    stroke-width: 4.0;
    fill-opacity: 1.0;
    stroke-opacity: 0.9;
}

#svg-labels text {
    fill: #000000;
    font: 20px Arial-BoldMT, sans-serif;
}

@media only screen and (max-width: 1430px) {
    #svg1, #svg2 {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) and (max-height: 1000px) {
    #svg1, #svg2 {
        height: 400px;
    }
    body {
        background-color: tomato;
    }
}

@media only screen and (max-width: 500px) and (max-height: 940px) {
    #svg1, #svg2 {
        height: 350px;
    }
}

@media only screen and (max-width: 500px) and (max-height: 840px) {
    #svg1, #svg2 {
        height: 320px;
    }
}

@media only screen and (max-width: 500px) and (max-height: 770px) {
    #svg1, #svg2 {
        height: 290px;
    }
}

@media only screen and (max-width: 500px) and (max-height: 710px) {
    #svg1, #svg2 {
        height: 240px;
    }
}

@media only screen and (max-width: 500px) and (max-height: 600px) {
    #svg1, #svg2 {
        height: auto;
    }
}