body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

a {
    -webkit-tap-highlight-color: transparent;
}

svg {
    width: 40vw;
    height: auto;
}

#svg-map path {
    fill: #888888;
    stroke: #ffffff;
    stroke-width: 1.0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#svg-map circle {
    visibility: hidden;
    stroke-width: 3;
    stroke: #ffffff;
    fill: #ffffff;
}

#svg-map text {
    visibility: hidden;
    fill: #ffffff;
    font: 16px Arial-BoldMT, sans-serif;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

#svg-map a:hover path {
    fill: #900000 !important
}

#svg-map a:hover circle {
    visibility: visible;
}

#svg-map a:hover text {
    visibility: visible;
}

#svg-colors line {
    fill: #888888;
    stroke: #000000;
    stroke-width: 4.2;
}

.svg-table rect {
    stroke: #000000;
    stroke-width: 2.0;
    fill-opacity: 1.0;
    fill: transparent;
    stroke-opacity: 0.9;
}

.text-arial {
    font: 24px Arial-BoldMT, sans-serif;
}

.text-monospace {
    font: 24px 'Courier New', monospace;
}

.text-bold {
    stroke-width: 1.0 !important;
    stroke: #000000;
}

.text-thin {
    stroke-width: 0.5 !important;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

#svg-states-edges line {
    fill: #888888;
    stroke: #000000;
    stroke-width: 4.0;
}

#svg-colors rect,
#svg-labels rect {
    stroke: #000000;
    stroke-width: 4.0;
    fill-opacity: 1.0;
    stroke-opacity: 0.9;
}

@media (min-aspect-ratio: 18/9) {
    svg {
        width: 40vw;
        height: 75vh;
    }
}

@media (max-aspect-ratio: 6/5) {
    svg {
        width: 100%;
        height: 35.5vh;
    }

    #svg-table-degrees text, #svg-table-queue text, #opCount-text {
        font-size: 40px !important;
    }

    #svg-colors text {
        font-size: 35px !important;
    }
}

@media (max-aspect-ratio: 1.2) and (max-height: 740px) {
    svg {
        width: 100%;
        height: 30vh;
    }
}